.tela1 {
    position: absolute;
    left: 0%;
    background-color: rgb(255, 12, 12);
    display: inline-block;

    border: 2px solid black;
    width: 140px;
    height: 140px;
    
}
h1 {
    position: absolute;
    top:0px ;
    left: 10px;
}
.tela2 {
    position: absolute;
    

    
}